<div class="container">
  <!-- search bar -->
  <div class=" search-bar">
    <div class="search-bar-outer">
      <div class="search-bar-inner">
        <form action="/search">
          <h4 class="mb-2">尋找餐廳：</h4>
          <div class="input-group mb-3">
            <input type="text" name="keywords" class="form-control" placeholder="輸入餐廳、分類"
              aria-label="Restaurant Name..." aria-describedby="button-addon2" value="{{keywords}}" />
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
          <!--sort -->
          <div class="sort">
            <select class="form-select" aria-label="select sort method" name="sort">
              <option value="0" {{#sortMethod sort 0}}selected {{/sortMethod}}> Default Sort </option>
              <option value="1" {{#sortMethod sort 1}}selected {{/sortMethod}}>A->Z</option>
              <option value="2" {{#sortMethod sort 2}}selected {{/sortMethod}}>Z->A</option>
              <option value="3" {{#sortMethod sort 3}}selected {{/sortMethod}}>類別</option>
              <option value="4" {{#sortMethod sort 4}}selected {{/sortMethod}}>評分：高->低</option>
              <option value="5" {{#sortMethod sort 5}}selected {{/sortMethod}}>評分：低->高</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <!-- add a new restaurant-->
      <div class="mb-3">
        <a href="/restaurants/new" class="btn btn-primary">新增餐廳</a>
      </div>
      <div class="row row-cols-sm-3">
        {{#if restaurants}}
        {{#each restaurants}}
        <div class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name_en}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i>{{this.category}}
              </div>

              <span class="badge rounded-pill text-bg-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>

            <div class="card-footer d-flex justify-content-end flex-wrap">
              <a class="mx-2" href="/restaurants/{{this._id}}/edit"><button
                  class="btn btn-primary btn-sm">Edit</button></a>
              <a class="mx-2" href="/restaurants/{{this._id}}"><button
                  class="btn btn-success btn-sm">Details</button></a>
              <form action="/restaurants/{{this._id}}?_method=DELETE" method="post">
                <button class=" mx-2 btn btn-danger btn-sm">Delete</button>
              </form>
            </div>
          </div>
        </div>
        {{/each}}
        {{else}}
        <!-- render no restaurants view -->
        <div class=" no-results alert alert-warning mt-5 mx-auto text-center fs-1 w-50" role="alert">
          您現在還沒有加入任何餐廳!趕快去新增吧!
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>